/*!CK:3838891561!*//*1459883155,*/

._4o-e a{z-index:1}._4o-d,._4o-e a,._4bm_{position:relative;word-break:break-word}._4o-g:hover{background-color:#f6f7f8;text-decoration:none}html ._4o-d ._4o-f{bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;z-index:0}._4bm_{top:2px}
.sp_-wueJb1IK4D{background-image:url(/rsrc.php/v2/ys/r/QGJjFV-4QXv.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_-wueJb1IK4D.sx_e2ca8e{background-position:0 0}.sp_-wueJb1IK4D.sx_73a90d{width:12px;height:12px;background-position:0 -17px}

#bootloader_fJh0a{height:42px;}.bootloader_fJh0a{display:block!important;}