/*!CK:3097962432!*//*1459742121,*/

._xo6{background-color:#f6f7f8;border-radius:2px}
.sp_1n9pQ7qFWxu{background-image:url(/rsrc.php/v2/yO/r/0llRbFrIXID.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_1n9pQ7qFWxu.sx_a887b1{background-position:0 0}.sp_1n9pQ7qFWxu.sx_62fa23{background-position:0 -21px}

#bootloader_8oqrP{height:42px;}.bootloader_8oqrP{display:block!important;}